<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron MongoDB App</title>
</head>
<body>
    <h1>Home Page</h1>

    <button data-navigate="create">Create</button> 
    <button data-navigate="update">Update</button>
    <button data-navigate="update">Delete</button>
    <button data-navigate="profile">Profile</button>
    <button data-navigate="domesticHelpers">Domestic Helpers</button>
    <button data-navigate="skilledWorkers">Skilled Workers</button>

     <!-- Rest of your index.html content --> 
    <script src="../renderer.js"></script>
</body>
</html>